*{
    margin: 0;
    padding: 0;
    border: 0;
}

    
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: rgb(32, 30, 30);
        width: 100%;
    }
    div {
        margin: 20px;
        background-color: black;
        border-radius: 30px;
    }

    article{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        border: 0.1em solid black;
        color: white;
        border-radius: 30px;
        font-size: x-large;
    }
    article img {
        border-radius: 30px 30px 5px 5px;
    }
    